*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #352F44;
    color: #ffffff;
    
}
h1{
    padding-top: 30px;
    text-align: center;
}
h2{
    text-align: center;
    font-weight: bold;
}
 body > .header{
    background-color: #2A2438;
    width: 100%;
    
}
body > .header > div{
    padding: 30px;
    margin-top: 30px;
}
.form-fill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
form > div{
    background-color: #310A5D;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 5px 5px 8px #1B0633;
}

input{
    border: 3px solid #2A2438;
    border-radius: 15px;
    padding: 5px;
}
input:focus{
    border: 3px solid #352F44;
    outline: none;
}

button{
    border-color: #2A2438;
    background-color: #411E8F;
    padding: 10px;
    border-radius: 15px;
    color: #ffffff;
    width: 150px;
    box-shadow: 3px 3px 5px #1B0633;
}
body #main{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.card{
    background-color: #411E8F;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 8px #2A2438;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.card h2{
    width: 80%;
    padding: 10px 20px;
    background-color: #310A5D;
    border-radius: 25px;
}



.readoff{
    background-color: #dc143c;
    box-shadow: 2px 2px 5px #1B0633;
    border: 1px;
    font-weight: bold;    
}

.readon{
    box-shadow: inset 3px 3px 5px #000000;
    background-color: #2A2438;
    border: 0px;
}

#removeBtn{
    background-color: #352F44;
}


